# Python cache
__pycache__/
*.py[cod]

# Django stuff
*.sqlite3
db.sqlite3
/media/
staticfiles/
.env

# Logs
*.log

# Node (nếu có React ở đây sau)
node_modules/
build/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
